.layerBrand{
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999999999999;
    background-color: rgba(0, 0, 0, 0.637);
}
.insideLayerBrand{
width: 40%;
background-color:white;
transform: translateY(-50%);
}